@import url("https://fonts.googleapis.com/css?family=Heebo:400,700,900");
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #35323e;
  color: #eceeeb;
  font-family: "Heebo";
  font-size: 18px; }

h1 {
  font-size: 1.5vw;
  margin: 0 0 48px; }
  @media screen and (max-width: 1280px) {
    h1 {
      font-size: 24px; } }

a {
  color: #31aae3;
  text-decoration: none; }

.ui--button, button {
  border: none;
  background: #44bc8f;
  color: #FFFFFF;
  display: block;
  width: auto;
  padding: 14px 22px;
  text-transform: uppercase;
  font-family: "Heebo";
  font-size: 14px;
  outline: none !important;
  transition: all 260ms ease-in-out;
  cursor: pointer; }
  .ui--button:hover, button:hover {
    background: #2f8464; }

nav {
  position: absolute;
  background: #35323e;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  padding-right: 48px;
  font-size: 12px;
  text-transform: uppercase; }
  nav > div {
    color: #44bc8f; }
    nav > div a {
      border: 1px solid rgba(68, 188, 143, 0.25);
      padding: 2px 6px;
      border-radius: 4px;
      margin-left: 12px;
      color: #44bc8f; }

main {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  display: flex;
  justify-content: flex-start;
  padding-top: 48px;
  overflow-y: scroll; }
  main.live {
    height: 58vh;
    align-items: flex-end;
    padding-top: 0; }
    main.live:not([class*="error"]) {
      pointer-events: none; }
      main.live:not([class*="error"]) section:last-child:before {
        content: "Recent Locations";
        position: absolute;
        bottom: 0;
        left: 48px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        color: #44bc8f;
        width: 66%;
        padding-top: 8px;
        letter-spacing: 0.4em; }
  main.settings {
    min-height: 100vh;
    background: url("/bg.jpg") no-repeat 50% 50%;
    background-size: cover; }

section {
  position: relative;
  z-index: 9999;
  width: 100%;
  max-width: 1024px;
  padding: 24px 48px; }
  section *:last-child {
    margin-bottom: 0; }
  @media screen and (max-width: 1280px) {
    section {
      padding: 24px; } }

.status {
  position: fixed;
  z-index: 999999;
  right: 0px;
  top: 0px;
  width: 44px;
  height: 44px;
  padding: 6px; }

.total {
  position: fixed;
  z-index: 999999;
  left: 4px;
  bottom: 4px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  font-weight: 900;
  background: #2f2c37;
  color: #44bc8f;
  text-align: center; }
  .total:after {
    content: "online now";
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 38px;
    color: #fff69d;
    letter-spacing: 0.075em; }

.stat h1 {
  font-size: 1.5em;
  opacity: 0.22;
  font-weight: 700;
  animation: fadeIn 260ms ease-in-out;
  transition: all 260ms ease-in-out; }
  @media screen and (max-width: 1280px) {
    .stat h1 {
      font-size: 18px !important; } }

.stat:nth-last-child(4) h1 {
  font-size: 2vw;
  opacity: .44 !important; }

.stat:nth-last-child(3) h1 {
  font-size: 2.33vw;
  opacity: .66 !important; }

.stat:nth-last-child(2) h1 {
  font-size: 2.66vw;
  opacity: .88 !important; }

.stat:nth-last-child(1) h1 {
  font-size: 3.25vw;
  opacity: 1 !important; }

.chart--donut {
  border-radius: 100%; }
  .chart--donut svg {
    display: table; }
    .chart--donut svg > * {
      display: table-cell;
      vertical-align: middle;
      stroke-width: 4;
      stroke-dashoffset: 0;
      fill: transparent;
      stroke: #575265; }
      .chart--donut svg > *:nth-child(2) {
        stroke: #fff69d; }

.map--wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  z-index: 0; }
  .map--wrapper .gm-style > div:first-child:after {
    content: "";
    position: absolute;
    pointer-events: none;
    z-index: 1;
    top: 44px;
    left: 0;
    height: 100%;
    width: 100vw;
    background: linear-gradient(#35323e, rgba(87, 82, 101, 0.5)); }
  .map--wrapper * .marker {
    position: relative;
    z-index: 9999;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #44bc8f;
    text-indent: 28px;
    line-height: 12px;
    text-transform: uppercase;
    color: #fff69d;
    white-space: nowrap; }
    .map--wrapper * .marker span {
      font-size: 11px;
      font-weight: 400; }
    .map--wrapper * .marker:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      background: #44bc8f;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      animation-name: pulse;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      animation-timing-function: ease-in-out; }

form {
  padding: 24px;
  background: rgba(63, 59, 73, 0.85); }
  form input {
    border: 1px solid #575265;
    background: #35323e;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 24px;
    width: 100%;
    font-family: monospace;
    font-weight: 100;
    color: #fff69d; }
  form label {
    font-size: 16px;
    font-weight: 400;
    color: #eceeeb;
    padding: 8px 0;
    letter-spacing: 0.1em;
    display: block; }

@keyframes pulse {
  0% {
    opacity: 0.8;
    transform: scale(1.2); }
  100% {
    opacity: 0;
    transform: scale(3); } }

@keyframes fadeIn {
  to {
    opacity: 0.22; } }

@keyframes spin {
  to {
    transform: rotate(360deg); } }
